#statsMonthComboBox, #statsYearComboBox {

    -fx-background-radius: 8;
}

/* ==== PIE CHART ==== */
.pie-chart {
    -fx-background-radius: 12;
    -fx-padding: 15;
}



/* ==== BAR CHART ==== */
.bar-chart {
    -fx-background-radius: 12;
    -fx-padding: 10;
}

