/* trạng thái mặc định */
.toggle-type {
    -fx-background-color: #2ecc71;
    -fx-background-radius: 6;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
    -fx-transition: all 0.2s ease;
}

/* Hover */
.toggle-type:hover {
    -fx-background-color: #27ae60;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 3);
}

/* Pressed / Click */
.toggle-type:pressed {
    -fx-background-color: #1e8449;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0, 0, 1);
    -fx-translate-y: 2;
}

/* Active */
.toggle-type.active {
    -fx-background-color: #16a085; /* Màu khi active */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0, 0, 3);
}
