/* =========================
   Card Container
   ========================= */
*{
    -fx-text-fill: #FDFDFD
}

.button {
    -fx-text-fill: #FFFFFF; /* màu chữ */
    -fx-background-color: #0A2E66; /* màu nền */
    -fx-background-radius: 8; /* bo góc */
    -fx-font-weight: bold; /* chữ đậm */
}

.progress-bar {
    -fx-accent: #0A2E66; /* màu thanh chạy */
    -fx-control-inner-background: #D9D9D9; /* màu nền thanh */
    -fx-background-radius: 8; /* bo góc nền */
    -fx-border-radius: 8; /* bo góc viền */
}


.progress-bar:indeterminate {
    -fx-accent: #123456;
}


/* Tất cả ngày trong popup */
.date-picker-popup .day-cell {
    -fx-text-fill: #0A2E66; /* màu chữ ngày */
}

/* Ngày hôm nay */
.date-picker-popup .day-cell.today {
    -fx-text-fill: #FF5555; /* màu đỏ cho hôm nay */
}

/* Ngày được chọn */
.date-picker-popup .day-cell:selected {
    -fx-background-color: #0A2E66; /* nền cho ngày chọn */
    -fx-text-fill: white;           /* chữ trắng */
}

/* Tháng và năm trên header */
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #0A2E66;
}

/* Nút next/prev tháng */
.date-picker-popup .arrow-button .arrow {
    -fx-background-color: #0A2E66;
}


.text-field {
    -fx-text-fill: #0A2E66
}

.vbox-card {
    -fx-background-radius: 12;
    -fx-padding: 25;
    -fx-spacing: 20;
}

/* =========================
   Title
   ========================= */
.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* =========================
   Save Button
   ========================= */
.button-save {
    -fx-background-color: #D4AF37;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
}

.button-save:hover {
    -fx-background-color: #45a049;
}

/* =========================
   Slider giới hạn chi tiêu
   ========================= */
.slider-limit {
    -fx-control-inner-background: #0A2E66;
    -fx-padding: 5;
}

.slider-limit .track {
    -fx-background-color: #0A2E66;
    -fx-background-insets: 0.25;
    -fx-background-radius: 5;
}

.slider-limit .thumb {
    -fx-background-color: #0A2E66;
    -fx-background-radius: 12;
}

.slider-limit .tick-label {
    -fx-text-fill: #0A2E66;
}



/* =========================
   TextField giới hạn chi tiêu
   ========================= */
.textfield-limit {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5 10;
    -fx-background-radius: 8;
    -fx-border-color: #2ecc71;
    -fx-border-radius: 8;
    -fx-border-width: 1.5;
}

.textfield-limit:hover {
    -fx-border-color: #27ae60;
}

/* =========================
   Progress
   ========================= */
.progress-bar-main {
    -fx-accent: #0A2E66;
}

.label-progress-title {
    -fx-text-fill: #0A2E66;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.label-item-value {
    -fx-text-fill: #0A2E66;
    -fx-font-size: 13px;
}

/* =========================
   Status Label
   ========================= */
.status-label {
    -fx-text-fill: #2ecc71;
    -fx-font-weight: bold;
}


.goal-wrapper {
    -fx-padding: 10;
    -fx-background-color: #F2E8E4;
    -fx-background-radius: 10;
    -fx-spacing: 10;
}

.goal-box {
    -fx-spacing: 4;
}

.goal-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4b8df8;
}

.goal-money {
    -fx-font-size: 14px;
    -fx-text-fill: #00d46a;
}

.goal-dates {
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}


